.reset-password {
    min-height: 100vh;
    align-items: center;
    margin: auto;
    padding-top: 20vh;
}

.reset-password-container {
    margin: auto;
    align-items: center;
    border: 3px solid #B4E49D;
    border-radius: 25px;
    width: 33%;
    padding: 20px;
    color: #075E81;
    background-color: #B4E49D;
}

.reset-password-container h2{
    text-align: center;
    margin-bottom: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.reset-password-form {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.reset-password-form label {
    margin-bottom: 5px;
}

.reset-password-form input {
    height: 40px;
    border-radius: 25px;
    border: 3px solid white;
    padding: 10px;
}

.reset-password-form-text {
    margin-top: 10px;
    font-weight: 300;
}

.reset-password-form-btn {
    height: 40px;
    border-radius: 25px;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13pt;
    background-color: #075E81;
    color: white;
    border: none;
}

.reset-password-form-btn:hover {
    background-color: white;
    color: #075E81;
}